.Camera
  width: 240px
  height: 240px
  border-radius: 120px
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  overflow: hidden

  video
    height: 100%
    width: 100%
    object-fit: cover
